@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,400;0,800;0,900;1,400;1,800;1,900&family=Open+Sans:ital,wght@0,600;0,700;1,700&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,400&display=swap');
* {
    
    padding:0;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;

}
.container{
    width: 1170px;
    max-width: 81%;
    margin:0 auto;
}
.header-section{
    display: flex;
}
.header-img{
    display: flex;
}
.hero{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.travelling{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.nav-container{
    display: flex;
    min-height: 20px;
    align-items: center;
    width: 50%;

}

.items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}
.homing{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
.travel-heading{
    color: #131318;
    font-size: 40px;
    font-weight: 800;


}
p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
.btn-primary{
    background-color:#FF5400;
    color: white;
    border-radius: 10px;
    padding: 14px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
  

}
.img{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    
   
}
.banner{
    
    margin: 0 auto;
    text-align: center;
    padding: 106px 0;
    margin-top: 30px;
}
.banner-tittle{
    color: white;
    font-size: 64px;
    font-family: Mulish;
    font-weight: 800;

}
.banner-text{
    color: white;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   text-align: center;
   
   padding-bottom: 48px;
}
.banner-input-type{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
   
}
.banner-input {
    background: white;
    border-radius: 8px;
    padding: 16px;
  
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px; 
    font-weight: 400;
}
.find-now{
    background: #FF5400;
    border-radius: 8px;
    padding:20px;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px; 
    font-weight: 400;
   

}
.banner-input  select{
    border: none;
    
}

/* Our Popular Tours start */
.toure{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 40px;
    
}
li{
    display: flex;
}

/* Our Popular Tours end */

.Destination{
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 24px;
}

.chose-text{
    text-align: center;
}

.travel-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}
.travel-card-hotel{
    background: rgba(251, 181, 99, 0.05); 
    border-radius: 16px; 
    border: 1px rgba(251, 181, 99, 0.20) solid;
    padding: 32px;
    padding-left: 32px;
}
.travel-card-service{
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;
    border: 1px rgba(41, 206, 246, 0.20) solid;
    padding: 32px;
    padding-left: 32px;
}
.travel-card-tow{
    display: flex;
    align-items: center;
}
.travel-card-price{
    background: rgba(233, 68, 68, 0.05);
    border-radius: 16px;
    border: 1px rgba(233, 68, 68, 0.20) solid;
    padding: 32px;
    padding-left: 32px;
    max-width: 573px;
  
   
    
}
.travel-card-tow{
    justify-content: center;
}
  
.from-type{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    gap: 48px;
}
.login-from{
    border: 2px solid #FF5400;
    padding: 20px 20px;
    margin-bottom: 40px;
}
.from-heading{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}
.login-from input{
    display: block;
    margin-top: 20px;
    background: rgba(19, 19, 24, 0.05); 
    border-radius: 8px;
    padding: 16px;
}
 .subscribe{
    margin-top: 20px;
    background: #FF5400;
    border-radius: 8px;
    padding: 16px 50px;
    margin-bottom: 40px;  
}
.discount{
    background: #FF5400; 
    border-radius: 16px;
    color: #FFF;
    width: 324px;
    text-align: center;
    position: relative;
    bottom: 60px;
    transform: rotate(-25.63deg);
    transform-origin: 0 0;
    margin-right: auto;
    left:327px ;

   
     

}

.discount p{
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.discount h3{
    color: white;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}
.footer-content{
    background: rgba(19, 19, 24, 0.05);
    align-items: center;
}
.footer-img{
    display: flex;
    justify-content: center;
   
}
.items{
   text-align: center;
}
.items hr{
    width: 400px;
}
@media screen and (max-width:600px) {
    header{
        padding: 20px;
    }
    .header-section,
    .nav-container,
    .items-container,
    .banner-input-type,
    .toure,
    .row,
    .travel-card,
    .travel-card-tow,
    .from-type{
        flex-direction: column;
    }
    .toure-img img{
        width: 100%;
    }
    .from-img img{
        width: 100%;
    }
    .discount {
        
        width: 258px;
       
        bottom: 95px;
       
        left: 192px;
        padding: 10px 0;
    }
    .banner-input-type {
        width: 76%;
        margin: 0 auto;
    }
    .Destination-img{
        margin: 24px 0;
    }
     .imgtow{
        margin-top: 24px;

    }

    
}
   
